@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color:#ffffff;
    --hover_color:#2B3499;
    --backgroun:#FF6C22;
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s ease-out;
}
header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 200px;
}
.brend{
    color: var(--color);
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: 1s;
}
.brend:hover{
    transform: rotate(360deg);
    color: var(--hover_color);
}
.nav{
    position: relative;
}
.nav .nav-items a{
    position: relative;
    color: var(--color);
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
}
.nav .nav-items a:hover{
    color: var(--hover_color);
}
.nav .nav-items a::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 3px;
    border-radius: 5em;
    transition: 0.7s ease-out;
    background-color: var(--backgroun);
}
.nav .nav-items a:hover:before{
    width: 100%;
    background-color: var(--color);
}
section{
    padding: 100px 200px;
}
.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: var(--backgroun);
}
.home::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 777;
    width: 100%;
    height: 100%;
    background: #ff6c223d;
}
.home video{
    z-index: 000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.home audio{
    display: none;
}
.content{
    z-index: 888;
    color: var(--color);
    width: 70%;
    margin-top: 50px;
    display: none;
}
.content.active{
    display: block;
}
.content h1{
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 45px;
}
.content h1:hover{
    color: var(--hover_color);
}
.content h1 span{
    font-size: 1.2em;
    font-weight: 600;
}
.content p{
    margin-bottom: 65px;
    font-weight: 600;
}
.content p:hover{
    color: var(--hover_color);
}
.content a{
    background: var(--color);
    color: var(--backgroun);
    padding: 15px 35px;
    border-radius: 3px;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    transition: 0.7s ease;
}
.content a:hover{
    padding: 10px 65px;
    background-color: var(--hover_color);
}
.home .media-icons{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
}
.home .media-icons a{
    color: var(--color);
    font-size: 1.6em;
}
.home .media-icons a:not(:last-child){
    margin-bottom: 20px;
}
.home .media-icons a:hover{
    transform: scale(1.3);
    color: var(--hover_color);
}
.slider-nav{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    transform: translateY(150px);
}
.slider-nav .nav-btn{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--color);
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
}
.slider-nav .nav-btn.active{
    background-color: var(--hover_color);

}
.slider-nav .nav-btn:not(:last-child){
    margin-right: 15px;
}
.slider-nav .nav-btn:hover{
    transform: scale(1.3);
}
.video-slider{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}
.video-slider.active{
    clip-path: circle(150% at 0 50%);
    transition: 5s ease;
    transition-property: clip-path ;
}
@media (max-width: 1040px) {
    header{
        padding: 12px 20px;
    }
    section{
        padding: 100px 20px;
    }
    .home .media-icons{
        right: 10px;
    }
    header .nav{
        display: none;
    }
    header .nav.active{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.505);
    }
    .nav .nav-items{
        border-bottom: solid rgb(38, 38, 38) 5px;
        border-right: solid rgb(38, 38, 38) 5px;
        background-color: var(--backgroun);
        width: 600PX;
        max-width: 600px;
        padding: 40px;
        margin: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: 0 5px 25px rgb(1 , 1, 1 / 20%);
    }
    .nav .nav-items a{
        margin: 20px;
        font-size: 1.3em;
        color: var(--color);
        
    }
    .nav .nav-items a:hover{
        color: var(--hover_color);
    }
    .menu{
        background: url(img/menu.png) no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.1s ease;
        
    }
    .menu.active{
        z-index: 999;
        background: url(img/close.png) no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.1s ease;
    }
    .content h1{
        font-size: 2.5em;
        letter-spacing: 2px;
        line-height: 60px;
    }
    .content h1 span{
        font-size: 1em;
    }
    .content p{
        font-size: .8em;
    }
    .content a{
        padding: 10px 25px;
        border-radius: 3px;
        font-size: 1em;
        font-weight: 500;
    }
    .home .media-icons a{
        font-size: 1.5em;
    }
    .slider-nav{
        margin-bottom: 12px;
        transform: translatey(90px);
    }
}
